
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

.base {
  width:800px;
  margin:0 auto;
}

.frame {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0px;
  font-size: 18px;
}

.box {
  display: flex;
  flex-direction: column;
}

.display-box, .task-div, .pt-display-box,
.button-group, .input-box, .hist-box,
.instruction, .record-pan {
  height: 90%;
  margin: 10px;
  display: flex;
  background-color: white;
}

.display-box {
  width: 100%;
  border: #bbbbbb solid 2px;
  flex-direction: column;
  justify-content: center;
}

.pt-display-box {
  width: 100%;
  border: #bbbbbb solid 2px;
  justify-content: space-between;
}
.detect-div {
  width: 30%;
  height: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detect-div-agent, .detect-div-power {
  margin: 0 auto;
}

.detect-div-power p {
  font-size: large;
}

.display-main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.display-hist {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.task-box {
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-box h2 {
  text-align: left;
  font-size: 30px;
  width: 100%;
}
.task-box h3 {
  text-align: left;
  width: 100%;
  color: black;
  padding: 0;
  margin: 0 0 5px 0;
}
.task-box h4, .incentive {
  color: red;
  font-style: italic;
  /* font-weight: bold; */
  padding: 0px;
  margin: 0px;
  text-align: left;
  width: 98%;
  background-color: yellow;
}

.agent-stone-div, .recipient-stone-div {
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
}

.recipient-stone-div {
  display: flex;
  justify-content: flex-start;
}

.stone-svg {
  height: 80px;
  width: 80px;
}

.agent-stone {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.recipient-block {
  background-color: #404040;
  border: #C0C0C0 solid 2px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.hist-text h2 {
  font-size: 25px;
  color: #bbbbbb;
}
